.OptionPane {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.OptionLabel {
  text-align: center;
  margin-right: 10px;
}

.OptionBox {
  width: 95%;
  max-width: 150px;
}
