* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",sans-serif;
}

body {
    background:  url(Media/Images/neSideBackground.jpg) 0 0 repeat;
    color: black;
    line-height: 2em;
    display: inline;
}

h1{
  display: inline-block;
  padding-left: 1em;

}

dd{
  padding-left: 1vw;
}

div.articles {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 8vh;
  margin-left: 15%;
  padding: 1px 16px;
  background-color: white;
  min-height: 90vh;
  border-bottom-left-radius: 0.5em;

}

div.right {
  float:right;
}

div.left {
  float:left;
}

div.clearLeft {
  clear: left;
}

article{
  padding-bottom: 5vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

p {
  padding-top: 0.5vh
  padding-bottom: 1vh;
}

h2{
  padding-top: 1vh;
  padding-bottom: 1.5vh;
}

h3 {
  padding-top: 1vh;

}

ul.linkList{
  padding-left: 2vw;
  color: black;
}

ul.inTextList {
  padding-left: 1vw;
  text-decoration-color: black;
}

a{
  color: Black;
}

iframe.googleDocs{
  width: 100%;
  height: 90vh;

}

#mainLogo {
  float:right;
  width: 20vw;
  src
}

h2.Button{
  border-radius: 0.5em;
  background-color: #33c2ff;
  float:right;
  display: block;
  padding: 0.25em;
  margin-bottom: 0.25em;
  padding-left: 1vw;
  padding-right: 1vw;
}


footer{

  height: 5em;
  padding-left: 15%;
  padding-top: 1em;

}

/* Styling for navigation */

ul.nav {
  list-style-type: none;
  width: 15vw;
  height: 100%;
  overflow: auto;
  position: fixed;

}

li a.nav {
  display: block;
  padding: 1vw 16px;
  text-decoration: none;
  display: block;
  font-size: 3vh;

}

ul.sidenav {
  list-style-type: none;
  width: 15vw;
  position: fixed;
  height: 100%;
  overflow: auto;
}

#siteTitleLink {
  text-decoration: none;
}

#sideProfile {
  text-align: center;
  padding-top: 5%;

}

#profilePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
  height: auto;
  border-radius: 25px;
  margin-top: 5em;
  padding-bottom: 5%;
}

#navbutton {
  outline: 0;
  width: 4rem;
  background-color: #767575;
  text-decoration: none;
  text-align: center;
  background: inherit;
  font-size: 100%;
  border: none;
  height: 100%;
  flex-grow: 0;
  font-size: 2em;
}

ul.sidenav li a:hover:not(.active) {

  color: white;
}

@media screen and (max-device-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }

  ul.sidenav li a {
    float: left;
    padding: 15px;
    text-decoration: none;
  }

  footer{
    padding: 0;
    padding-left: 2vw;
    padding-top: 1em;
  }

  div.articles {margin-left: 0;}

  #profilePic {
    display: none;
  }

  #sideProfile{
    display: none;
  }
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }

  ul.sidenav li a {
    float: left;
    padding: 15px;
    text-decoration: none;
  }

  div.articles {margin-left: 0;}

  #profilePic {
    display: none;
  }

  #sideProfile{
    display: none;
  }
}

@media screen and (max-device-width: 500px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
    text-decoration: none;
  }
  ul.sidenav {
    text-align: center;
  }
  ul.sidenav li {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
  }

  #mainLogo {
    float:right;
    width: 35vw;
    content: url(Media/Images/stackedLogo.jpg);
}
  div.articles {
    border-radius: 1em;
  }

@media screen and (max-width: 500px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
  #mainLogo {
    float:right;
    width: 35vw;
    content: url(Media/Images/stackedLogo.jpg);
}
