*{
  padding: 0;
  margin: 0;
  border: 0;

}

a {
  color: Black;
}

dd {
  padding-left: 2.5vw;
}

li {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

.App {
  text-align: center;
}

/*Header Styles */
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
}

/* React Router Styling */
.React-Router-Headlinks{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282c34;
}

.React-Router-Group {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  background-color: #282c34;
}

.React-Router-sublinks {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282c34;
}

.React-Router-Links:hover {
  background-color: #111;
}

.React-Router-Links {
  background-color: #282c34;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Footer Styles */
.App-Footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 2em;
  background-color: #282c34;
  color: white;
  min-width: 100vw;
}

/*Page styling */
.Main-Content {
  margin: auto;
  max-width: 1400px;
  vertical-align: middle;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-bottom: 7.5vh;
}

.Main-Title {
  text-align: center ;
  font-size: calc(25px + 2vmin);
}

.Main-Paragraph {
  text-align: justify;
  padding-top: 1vh;
}

.Main-List {
  padding-left: 2.5vw;
  text-align: justify;
}

.Sub-Title {
  text-align: left ;
}

.Standard-List {
  margin-left: 2vw;
}

/* Project page specific styles */
.Project-Title {
  display: block;
  text-align: left;
}

#Language {
  color:grey;
}

.Project-External-Links {
  color: #2a5966;
  text-align: left;
  text-decoration: none;
  border: 2px solid #2a5966;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  position: sticky;
  display: inline-block;
}

.Project-External-Links:hover {
  background-color: #2a5966;
  color: white;
}

/* Profile image styling */
.home-profileImage {
  height: 40vh;
  width: auto;
  
  display: inline;
  
  
}

@media screen and (min-width: 450px) {
  .home-profileImage {
    float: right;
  }
}