.ReactRouterGroup {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #282c34;
}

.ReactRouterLinks {
  background-color: inherit;
  min-width: 150px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ReactRouterLinks:hover {
  background-color: #111;
  color: white;
}
